
#wrapper{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50px 200px 50px 600px 150px;
    grid-template-areas:
    'h1 Nav'
    'img img'
    'sök sök'
    'section section'
    'feet feet'
    ;
}

