
#wrapper{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 50px 200px 50px 600px 150px;
    grid-template-areas:
    'H1 Nav'
    'img img'
    'sök sök'
    'section section'
    'feet feet'
    ;
    
}

#header1{
    grid-area: H1;
    background-color: #f3a11d;
}

nav{
    grid-area: Nav;
    background-color: #f39c12;
}

img{
    grid-area: img;
    width: 100%;
}

#section{
    grid-area: section;
    
}

footer{
    grid-area: feet;
    
}